body {
  background-color: black;
  color: white;
  font-family: "Righteous", cursive;
}
#demo {
  text-align: center;
  font-size: 1050%;
}
input {
  border-radius: 8px;
  padding: 10px;
}
input[type="datetime-local"] {
  width: 80%;
}
form {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#until {
  text-align: center;
}
